In [3]:
import findspark
findspark.init()
# create entry points to spark
try:
    sc.stop()
except:
    pass
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
sc=SparkContext()
spark = SparkSession(sparkContext=sc)

25/02/07 19:57:03 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

## Example data

In [2]:
mtcars = spark.read.csv('data/SparkData/mtcars.csv', inferSchema=True, header=True)
mtcars = mtcars.withConlumnRenamed('_c0', 'model')
mtcars.show(5)

AttributeError: 'DataFrame' object has no attribute 'withConlumnRenamed'

## Dot (.) column expression
Create a column expression that will return the original column values

In [ ]:
# create column expression mpg_col_exp for column mpg
mpg_col_exp = mtcars.mpg
mpg_col_exp

In [ ]:
# use column expression to show 5 row of the column
mtcars.select(mpg_col_exp).show(5)